# ==== TELEGRAM ====
BOT_TOKEN=
BOT_USERNAME=PdfZipMasterBot
ADMIN_ID=

# ==== POSTGRESQL ====
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=CHANGE_ME

# ==== WEB ADMIN PANEL (/docs/admin, 8085-port) ====
ADMIN_USER=admin
ADMIN_PASSWORD=
