Django>=5.0,<5.1
djangorestframework>=3.15
psycopg2-binary>=2.9
redis>=5.0
django-redis>=5.4
aiogram>=3.7,<4.0
celery>=5.4
django-celery-beat>=2.6
django-jazzmin>=3.0
Pillow>=10.3
django-import-export>=4.0
python-decouple>=3.8
gunicorn>=22.0
whitenoise>=6.7
uvicorn[standard]>=0.30
sentry-sdk>=2.5
pytest>=8.2
pytest-django>=4.8
factory_boy>=3.3
httpx>=0.27
